.col-md-12.accordions {
    padding-left: 0px;
    padding-right: 0px;
}

.directory-profile--accordion-item {
    border: none !important;
}

.accordion-toggle.accordion-item .accordion-item-title h4:after {
     font-family:Fontawesome !important;
     content:'\f077';
     float:right;
     font-size:15px;
    transition: all 500ms ease-in-out;
    font-weight: lighter;
 }
.accordion-toggle.accordion-item.collapsed .accordion-item-title h4:after {
    font-family: Fontawesome !important;
    content: '\f078';
    font-size: 15px;
    transition: all 500ms ease-in-out;
    font-weight: lighter;
}

.accordion-toggle.accordion-item {
    background: #f3f3f4;
    border-bottom: 0.1rem solid #e7e7e8;
}

.accordion-toggle.accordion-item :hover{
    background: #f3f3f4;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.accordion-toggle.accordion-item.collapsed{
    background: #ffffff;
    border: 0.1rem solid #e7e7e8;
    margin-bottom: 1rem;
}

.fa.fa-file-o{
    color: gray;
    font-size: 22px;
    position: relative;
    display: inline-block;
    line-height: normal;
}


.fa.fa-file-o .icon-txt-pdf {
    background-color: #ff4848;
    color: #fff;
    line-height: normal;
    height: auto;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    top: 53%;
    right: -51%;
    padding: 0.1em 0.3em;
    font-size: .35em;
    position: absolute;
}

.fa.fa-file-o .icon-txt-xlsx {
    background-color: #38ab63;
    color: #fff;
    line-height: normal;
    height: auto;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    top: 53%;
    right: -82%;
    padding: 0.1em 0.3em;
    font-size: .35em;
    position: absolute;
}

.fa.fa-file-o .icon-txt-xls {
    background-color: #333;
    color: #fff;
    line-height: normal;
    height: auto;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    top: 53%;
    right: -51%;
    padding: 0.1em 0.3em;
    font-size: .35em;
    position: absolute;
}

.fa.fa-file-o .icon-txt-doc {
    background-color: #1a8cff;
    color: #fff;
    line-height: normal;
    height: auto;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    top: 53%;
    right: -61%;
    padding: 0.1em 0.3em;
    font-size: .35em;
    position: absolute;
}

.footer__icon--social{
    color: #ffffff !important;
}


h4.huge.pb-2 {
    padding-bottom: 10px;
}




