
body.wSvg-MapOpen {
  position: fixed !important;
  overflow: hidden !important;
  overflow-y: hidden !important;
  -webkit-overflow-scrolling: none !important;
  height: 100% !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  -ms-touch-action: none !important;
  touch-action: none !important;
  pointer-events: none !important;
}

body.wSvg-MapOpen * {

    overflow: hidden !important;
    overflow-y: hidden !important;
    -webkit-overflow-scrolling: none !important;
    -ms-touch-action: none !important;
    touch-action: none !important;
    pointer-events: none !important;
}

body.wSvg-MapOpen #counselor-map-svg-container,
body.wSvg-MapOpen #counselor-map-svg-container * {
    pointer-events: all !important;
    -ms-touch-action: all !important;
    touch-action: all !important;
}

.svg-map-col {
    padding: 0 15px !important;
}

#state-names {
}
#state-names path {
    fill: #FFF;
    pointer-events: none;
}

.state-group, .state-group * {
    cursor: pointer;
    -webkit-transition: .2s linear all !important;
    -o-transition: .2s linear all !important;
    transition: .2s linear all !important;
}

.state-group * {
    fill: #211551 !important;
}


.state-group:hover * {
    fill: #8252C7 !important;
}

#counselor-map-svg-container {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
}

.svg_map-wrapper {
    max-width: 992px;
    margin: 0 auto;
    -webkit-overflow-scrolling: unset;
    padding: 0 0 0 0;
    height: 100%;


    display: -webkit-box;


    display: -ms-flexbox;


    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

svg_map-wrapper::-webkit-scrollbar {
    display: none !important;

}

.svg_map-wrapper svg {
    margin: 96px auto 96px 0;
    height: calc(100% - 192px) !important;
}

.map-controls {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    height: 56px;
    width: 100%;
    background: white;
    z-index: 1000;
    max-width: 992px;
    margin: 0 auto;
}





.map-close {
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
    padding: 0;
    text-decoration: none !important;


}

.map-close .fas.fa-times {
    font-size: 20px !important;
}

.map-controls *, .map-controls {
    color: #211551;
    -webkit-transition: .2s all linear !important;
    -o-transition: .2s all linear !important;
    transition: .2s all linear !important
}



.map-controls a.map-close:hover,
.map-controls a.map-close:focus,
.map-controls a.map-close:active,
.map-controls a.map-close:hover *,
.map-controls a.map-close:focus *,
.map-controls a.map-close:active * {
    color: #8252C7;
}

.map-controls a.map-close:hover,
.map-controls a.map-close:focus,
.map-controls a.map-close:active {
    background: #F4F3F6;
}

.map-controls .map-control-title {
    font-family: "CeraPro-Bold";
    color: #211551;
    font-size: 14px !important;
    line-height: 14px;
    padding: 10px 12px;
    width: 100%;

}
.map-controls .map-control-title p {
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.bs4 .map-controls .map-control-title p {
    font-size: 16px;
}
.map-controls .map-control {
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    max-width: 56px;
    max-height: 56px;
}

@media only screen and (min-width:768px) {
    .bs4 .map-controls .map-control-title p {
        font-size: 18px !important;
        line-height: 16px;
        padding: 8px 16px;
    }

    .map-controls {
        top: 12px;
    }

    .map-close {
        border-radius: 100%;
    }

    .svg_map-wrapper svg {
        margin: 96px auto;
        width: 100%;
        height: auto;
    }

}

@media only screen and (max-width: 768px) {

    #search {
        margin-bottom: 0;
    }

    .map-button {
        width: 100%;
    }



    .svg_map-wrapper,
    body.wSvg-MapOpen #counselor-map-svg-container .svg_map-wrapper {
        margin-left: -15px;
        margin-right: -15px;
        overflow-x: visible !important;;
        overflow-x: scroll !important;;
        -webkit-overflow-scrolling: touch !important;
        pointer-events: all !important;
        -ms-touch-action: all !important;
        touch-action: all !important;
    }



    .svg_map-wrapper::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
    }
    /* optional: show position indicator in red */
    .svg_map-wrapper::-webkit-scrollbar-thumb {
        background: #FF0000;
    }
}
@media only screen and (orientation: landscape) and (max-width: 768px){
    #counselor-map-svg {
        width: 150%;
        height: auto;
    }
}

input, select {
  height: 48px !important;
  font-size: 16px !important;
}

#filter-container #search {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

#filter-container #search .fa-search {
    display: none;
}
#filter-container #search .sr-only {
    position: relative !important;
    height: auto;
    width: 100%;
    /*color: white;*/
    padding: 0;
    overflow: visible;
    clip: none;
    white-space: unset;
    -webkit-clip-path: none;
    clip-path: none;
    border: 0;

}

#counselorList {
    padding: 0 7.5px;

}

#counselorList li.media {
    overflow: hidden;
    padding-left: 7.5px;
    padding-right: 7.5px;
}


.counselorProf {

    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.counselorProf-cardWrapper {

    width: 100%;
    max-width: 100%;
}

.counselorProf-card {
    border: 1px solid #e9e8ee;
    padding: 8px;

}

.counslorProf-imgContainer, .counselorProf-cardWrapper {
    width: 100%;
}

.counselorProf-img {
    display: block;
    width: 50%;
    max-width: 96px;
    margin: 16px auto;
    border-radius: 100%;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.counselorProf h3 {
    font-size: 16px;
    margin-top: 0;
}

.counselorProf-contact a {
    display: block;
    margin-top: 12px;
    text-decoration: none;
}

.counselorProf-contact a:hover, .counselorProf-contact a:focus, .counselorProf-contact a:active {
    text-decoration: underline;
}

.counselorProf-contactDispEmail {
    display: none;
}

.counselorProf-More {
    display: none;
    width: 0%;
}

.counselorProf-LearnMore {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 0px 0px 0px;
}

.button.button-thistle.button-outlined {
    background: none;
    border: 1px solid #8252c7;
    color: #8252c7;
}

.button.button-thistle.button-outlined:hover, .button.button-thistle.button-outlined:active, .button.button-thistle.button-outlined:focus {
    background: #8252c7;
    color: white;
}

.counselorProf .counselorProf-LearnMore .button {
    width: 100%;
    margin: 18px auto 0 auto;
    font-size: 12px;
    padding: 7px 12px 8px 12px;

}

.counselorProf-moreSep {
    max-width: 10%;
    border-bottom: 4px solid #211551;
    margin: 24px auto 36px auto;
}

@media only screen and (min-width: 768px) {
    input:focus {
        border-right: 0.2rem solid #8252c7 !important;
    }
}


@media only screen and (min-width: 768px) {
    .counselorProf h3 {
        font-size: 20px;
    }

    .counselorProf-LearnMore {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 8px 16px 8px;
    }
    .counselorProf .counselorProf-LearnMore .button {
        width: auto;
        margin: 20px auto 0 auto;
        font-size: 14px;
        padding: 7px 20px 8px 20px;
    }
}
@media only screen and (min-width: 992px) {
    .counselorProf-img {
        margin: 40px auto !important;
        width: 134px;
        max-width: 100%;

    }

    .counselorProf-LearnMore {
        margin-top: 24px;
        margin-bottom: 12px
    }

    .counselorProf .counselorProf-LearnMore .button {

        padding: 12px 20px 12px 20px;

    }
}


@media only screen and (min-width: 992px) and (max-width: 1199px){
    .counselorProf-LearnMore {

        padding: 0 8px 8px 8px;
    }
    .counselorProf .counselorProf-LearnMore .button {

        padding: 12px 8px 11px 8px;

    }
}


/* active classes */
li.media.active {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 !important;
    margin-bottom: 0px;
    margin-top: 120px;
}

li.media.active .counselorProf-card {
    padding: 0;
    padding-bottom: 16px;
    border: none;

}

li.media.active .counslorProf-imgContainer  {
    padding: 0;
}


li.media.active .counselorProf-img {
    /*   margin: 32px auto; */
    width: 100%;
    max-width: 360px;
    margin: 0 auto 32px auto !important;
    border-radius: 0;
}

li.media.active .counselorProf-contact a {
    display: block !important;
    font-size: 14px;
    margin-top: 12px;

}

li.media.active .counselorProf-name {
    font-size: 20px;
}

li.media.active .counselorProf-name .d-block.d-md-inline-block {
    display: inline-block !important;
}

li.media.active .counselorProf-LearnMore {
    display: none;
}

li.media.active .counselorProf-More {
    display: block;
    width: 100%
}


.counselorProf-territories {
    margin-top: 0;
    padding-top: 1px;
    padding-bottom: 16px;
}

.counselorProf-territories p, .counselorProf-territories h4.small.text-muted {
    font-size: 12px !important;
    color: #777 !important;
}

.counselorProf-territories p {
    margin-top: 0;
    line-height: 16px ;
}

.counselorProf-quote {
    color: #211551;
    font-family: "CeraPro-BoldItalic";
    font-size: 1.3em !important;
    margin: 36px 0  24px 0 !important;
    padding: 15px 20px 20px 20px;

    border: 4px solid #211551;
    position: relative;
}

/* .counselorProf-quote span:first-child {
font-size: 3em;
position: absolute;
top: -9px;
left: 12px;
background: white;
padding: 0 8px 0 4px;
line-height: 28px;
text-shadow: 12px 0px 0px white, -12px 0 0 white;
}

.counselorProf-quote span:last-child {
display: none;
} */


@media only screen and (min-width: 768px) {
    .counselorProf-moreSep {
        display: none;
    }



    li.media.active .counselorProf-cardWrapper {
        padding-bottom: 24px;
        width: 34%;
        max-width: 34%;
    }


    li.media.active .counselorProf-More {
        /*   display: none; */
        width: 66%;
        padding: 0 36px;
    }



    li.media.active .counselorProf-contact a {

        font-size: 16px;


    }
}

a .counselorProf-contact span.counselorProf-contactDispEmail {
    display: none;
}

li.media.active .counselorProf-contact a span {
    display: none;
}
li.media.active .counselorProf-contact a span.counselorProf-contactDispEmail {
    display: block;
}


@media only screen and (min-width: 992px) {


    li.media.active .counselorProf-cardWrapper {
        width: 34%;
        max-width: 34%;
    }


    li.media.active .counselorProf-More {
        /*   display: none; */
        width: 66%;
        padding: 0 36px;
    }
}

@media only screen and (max-width: 360px) {
    .counselorProf-quote {

        font-size: 1.1em !important;

    }
}

.start-over-item {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.start-over-item.active {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}


#counselorProf-utah .counselorProf-LearnMore {
    opacity: 0;
    pointer-events: none !important;
}